:root {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
             "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #E2E8F0;
  background-color: #0F172A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


#root {
  width: 100vw;
  padding-inline: 1rem;
}

@media screen and (min-width: 992px) {
  #root {
    padding-inline: 10rem;
  }
}

header {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid currentColor;
}

main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

main > div {
  padding: 0.5rem;
}

.infoPanel {
  background-color: #1a2747;
}

a {
  font-weight: 500;
  color: #38BDF8;
  text-decoration: inherit;
}
a:hover {
  color: #2cb0e9;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #050725;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2cb0e9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #08233b;
    background-color: #f5f5f5;
  }

  .infoPanel {
    background-color: #dddbdb;
  }

  a:hover {
    color: #565ef1;
  }
  button {
    background-color: #e6dfdf;
  }
}
