.infoLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.infoLabel > div {
  font-weight: 600;
}

.infoLabel > input,
.academicField > input {
  box-sizing: border-box;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

.infoLabel > input[readonly] {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: default;
  caret-color: transparent;
  appearance: none;
}

.academicField {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}