.infoLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.infoLabel > div {
  font-weight: 600;
}

.userEntry {
  box-sizing: border-box;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

.userEntry[readonly] {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: default;
  caret-color: transparent;
  appearance: none;
  padding: 0.125rem;
}

.academicField, .careerField {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.25rem;
}

textarea {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}