.imageContainer {
  width: 100%;
  padding: 0.5rem;
  aspect-ratio: 1/1;
  background-color: grey;
  position: relative;
  overflow: hidden;
}

.imageContainer::after {
  content: "+";
  position: absolute;
  inset: 0;       

  display: grid;
  place-items: center;

  font-size: 5rem;
  color: white;
  background-color: transparent;
  transition: background-color 0.2s ease;
  opacity: 0;
  z-index: 1;
}


.imageContainer:hover::after {
  background-color: #00000040;
}

.imageContainer:not(:has(img))::after {
  opacity: 1;
}

.imageContainer:has(img):hover::after {
  opacity: 1;
}

.imageContainer > img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  object-fit: cover;
  object-position: center;
}