section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sectionButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.editButton {
  justify-self: end;
  grid-column-start: 3;
  grid-column-end: 4;
}

.addButton {
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 0;
  font-size: 3rem;
  border: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.removeButton {
  width: auto;
  align-self: end;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}