section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editButton {
  align-self: end;
}

.addButton {
  align-self: center;
  padding: 0;
  font-size: 3rem;
  border: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}